table {
  border-collapse: collapse;
  border-spacing: 0;
}
 .table td,
  .table th {
    background-color: #fff !important;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }

