  {#Acerca de MODAL#}
             <div class="modal fade " id="acercade"  tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog box box-solid box-primary" style="width: 50%;margin-top: 7%;">
                                    <div class="box-header">
                                        <h2 id="window-title" class="box-title pull-right">Acerca de</h2>
                                                        <div class="box-tools pull-left">
                                                            <button data-dismiss="modal" aria-hidden="true" class=" btn btn-bg bg-red-gradient btn-circle "><i class="fa fa-times"></i></button>
                                                        </div>
                                    </div>
                                        <div class="box-body" style="height: 420px;">
                                         <br><br>
                                            <div class="col-sm-12">    
                                                <div class="col-sm-4 " >
                                                    <img style="" class=" img-rounded bg-blue text-center" src="{{asset('bundles/base/img/logos/acercade90x90.png')}}"   alt="KOBRA"/><br>
                                                </div> 
                                                <div class="col-sm-8 ">
                                                <span style="font-family: 'Kaushan Script',cursive;font-size: 30px;" class="text-info">KOBRA</span>
                                                        <small class="text-info">Queue System</small>
                                                        <p>V - 0.1</p>
                                                        <p align="justify"> Este software fue dise&ntilde;ado y desarrollado siguiendo las necesidades de <b class="text-info">M&M Travel Group</b>,
                                                            respetando siempre el criterio de sus especialistas y usando solo tecnolog&iacute;as de <b class="text-info">Software Libre</b>.
                                                        </p>
                                                        <hr>
                                                        <p class="text-info text-center"><b>Datos Desarrollador</b></p>
                                                        <table>
                                                            <tr>
                                                                <td><img style="width:80%;" class="text-left image img-circle" src="{{asset('bundles/base/img/author.png')}}"   alt="KOBRA"/></td>
                                                                <td>
                                                                    <span><i class="fa fa-user"></i> Ing. Antonio Nodal Delgado</span>
                                                                    <br>
                                                                    <span><i class="fa fa-phone-square"></i> +593 (02) 280-3791</span>
                                                                    <br>
                                                                    <span><i class="fa fa-mobile-phone"></i> &nbsp;&nbsp; 099 1353945 / 099 5185705</span>
                                                                   
                                                                    <br>
                                                                    <span><i class="fa fa-envelope"></i> antonio.nodal@mymtravel.com</span>
                                                                    <br>
                                                                    <span><i class="fa fa-envelope"></i> antonio.nodal88@gmail.com</span>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        
                                                        
                                                </div>   
                                             </div>
 
                                             <div class="text-center" style="margin-top:340px;color: #999;display: block;line-height: 1.42857;"> 
                                                 <small >Copyright &copy; 2015 - All Rights Reserved - M&M Travel Group</small>
                                             </div>
                                        </div>
                                         


                                </div><!-- /.modal-dialog -->

                            </div><!-- /.modal -->   
        {#Acerca de MODAL#}